
HW1/.idea/encodings.xml
HW1/.idea/HW1.iml
HW1/.idea/misc.xml
HW1/.idea/modules.xml
HW1/.idea/workspace.xml
HW1/.idea/vcs.xml
HW2/.idea/encodings.xml
HW2/.idea/HW2.iml
HW2/.idea/misc.xml
HW2/.idea/modules.xml
HW2/.idea/vcs.xml
HW2/.idea/workspace.xml
HW2/.idea/php.xml
HW2/.idea/php.xml
HW2/.idea/php.xml
*.xml
HW4/.idea/HW4.iml
HW5/.idea/HW5.iml
